@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.guiaa {
  border-width: 2px;
  border-color: black;
}

@keyframes shake-x {
  0%,
  100% {
    transform: translateX(0); /* Centrado */
  }
  20%,
  60% {
    transform: translateX(-8px); /* Izquierda */
  }
  40%,
  80% {
    transform: translateX(8px); /* Derecha */
  }
}

.animation-error {
  animation: shake-x 0.1s ease-in-out;
}

.errorBorder {
  border-width: 2px;
  border-color: rgb(255, 137, 137);
  color: rgb(255, 137, 137);
}
